<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diabetes Check</title>
    <link href="{{url_for('static', filename='css/output.css')}}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>
<body class="bg-[#FFF5D2] font-[poppins] px-6 md:py-4  lg:px-16  space-y-8">
    <main class="">
        <section class="min-h-screen ">
            <!-- logo -->
            <div class="flex mt-4 space-x-2 items-center">
                <!-- <img src="" alt=""> -->
                <img src="static\images\logoApp.png" alt="appLogo">
                <p class="font-bold text-3xl text-[#7A0A28]">DiaCheck</p>
            </div>
            <div class="flex items-center mt-16 justify-between">
                <div class="space-y-6">
                    <h1 class="font-bold text-4xl md:text-7xl text-[#7A0A28]">
                        Diabetes, <br />
                        <span class="text-black">Screening</span>
                    </h1>
                    <p class="text-[#8A8585]">Find out your risk of diabetes in just a few minutes! Answer simple questions and get instant results.</p>
                    <a href="{{url_for('predictForm')}}" class="border p-3 rounded-xl border-[#7A0A28] text-[#7A0A28] hover:bg-[#7A0A28] hover:text-[#FFF5D2]">Get Started</a>
                </div>
                <img class="w-[600px]" src="static\images\homepict.svg" alt="home_pict">
            </div>
        </section>
    </main>


    <div class="bg-gray-500 font-bold ">anjay</div>
    <a href="{{url_for('predictForm')}}">link</a>
</body>
</html>